 <link rel="stylesheet" type="text/css" href="style.css">
 <form class ="logout" action="/" method="get">
	<input type="submit"  value="Logout">
</form>
<h1>{{username}}'s To-Do Page</h1>

	<h3 class ="header">To-Do's</h3>
	<h3 class ="header">Due Date's</h3>
	{{#each data}}
	<div class="to_do">
	<form action="/delete/to_do/{{this.id}}/{{this.userid}}" method="POST" class="delete">
	<button>X</button>
	<a class="message"> {{this.message}}</a>
	<a class="date">{{this.due_date}}</a>
	</form>
	</div>
	{{/each}}
<form action="/to_do/{{this.userId}}/{{username}}" method="POST">
	<input type="text" placeholder="New To-Do" name="newTodo">
	<!--<input type="date" placeholder="New Due Date" name="newDate">-->
	<select name="month">
	<option value="" selected>Select Month</option>
	<option value="1">Jan</option>
	<option value="2">Feb</option>
 	<option value="3">Mar</option>
 	<option value="4">Apr</option>
 	<option value="5">May</option>
	<option value="6">Jun</option>
 	<option value="7">Jul</option>
 	<option value="8">Aug</option>
 	<option value="9">Sep</option>
 	<option value="10">Oct</option>
 	<option value="11">Nov</option>
 	<option value="12">Dec</option>
	</select>
	<select name="day">
	<option value="" selected>Select Day</option>
	<option value="1">Sunday</option>
	<option value="2">Monday</option>
 	<option value="3">Tuesday</option>
 	<option value="4">Wensday</option>
 	<option value="5">Thursday</option>
	<option value="6">Friday</option>
 	<option value="7">Saturday</option>
	</select>
	<select name ="year">
	<option value="" selected>Select Year</option>
	<option value="2016">2016</option>
	<option value="2017">2017</option>
 	<option value="2018">2018</option>
 	<option value="2019">2019</option>
 	<option value="2020">2020</option>
	<option value="2021">2021</option>
 	<option value="2022">2022</option>
 	<option value="2023">2023</option>
 	<option value="2024">2024</option>
 	<option value="2025">2025</option>
 	<option value="2026">2026</option>
	</select>
	<input type="submit"  value="Create New To-Do">
</form>
<h1>{{this.message}}</h1>


